<h1>News Stories</h1>

<p>This component demonstrates fetching data from the server.</p>

<!--<p *ngIf="!forecasts"><em>Loading... Please refresh once the ASP.NET backend has started. See <a href="https://aka.ms/jspsintegrationangular">https://aka.ms/jspsintegrationangular</a> for more details.</em></p>-->

<table *ngIf="newsstories">
  <thead>
    <tr>
      <th>Id</th>
      <th>Title</th>
      <th>Url</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let newsstory of newsstories">
      <td>{{ newsstory.id }}</td>
      <!--<td>{{ newsstory.title }}</td>
      <td>{{ newsstory.url }}</td>-->
    </tr>
  </tbody>
</table>
